.col-md-3.left_col
  .left_col.scroll-view
    .navbar.nav_title
      = link_to dashboard_path, class: 'site_title' do
        %span Vyya
    .clearfix
    %br
    #sidebar-menu.main_menu_side.hidden-print.main_menu
      .menu_section
        %ul.nav.side-menu
          -#%li
          -#  %a
          -#    %i.fa.fa-home
          -#    Dashboard
          -#    %span.fa.fa-chevron-down
          -#  %ul.nav.child_menu{style: 'display: none'}
          -#    %li
          -#      = link_to 'Dashboard', dashboard_path
          %li
            %a
              %i.fa.fa-briefcase
              Merchants
              %span.fa.fa-chevron-down
            %ul.nav.child_menu{style: 'display: none'}
              %li
                = link_to 'List Merchants', dashboard_merchants_path
              %li
                = link_to 'Add Merchant', new_dashboard_merchant_path
    .sidebar-footer.hidden-small
      = link_to destroy_admin_session_path, method: :delete do
        %span.glyphicon.glyphicon-off{ 'aria-hidden': 'true' }