= simple_form_for [:dashboard, merchant], html: { id: 'form-merchant' } do |f|
  .x_panel
    .x_title
      %h2 Merchant Details
      %ul.nav.navbar-right.panel_toolbox
        %li.right
          %a.collapse-link
            %i.fa.fa-chevron-up
      .clearfix
    .x_content
      .row
        .col-xs-12
          = f.input :name, input_html: { class: 'form-control' }
      .row
        .col-xs-12
          = f.input :email, input_html: { class: 'form-control' }
      .row
        .col-xs-12
          = f.input :vat_number, input_html: { class: 'form-control' }
      .row
        .col-xs-12
          = f.input :contact_number, input_html: { class: 'form-control' }
      .row
        .col-xs-12
          = f.input :address, input_html: { class: 'form-control' }
