.page-header
  .row
    .col-xs-6.col-sm-6
      %h1
        %i.fa.fa-briefcase.page-header-icon
        #{@merchant.name}
    .col-xs-6.col-sm-6.text-right
      %h1
        = link_to dashboard_merchants_path do
          #button-cancel-merchant.btn.btn-lg.btn-cancel
            Cancel
        %button.submit-form-button.btn.btn-primary.btn-lg{ 'data-target': 'merchant' } Save
.row
  .col-xs-12.col-md-7
    = render 'form', merchant: @merchant
    .x_panel
      .x_title
        %h2 Merchant QRCode
        %ul.nav.navbar-right.panel_toolbox
          %li.right
            %a.collapse-link
              %i.fa.fa-chevron-up
        .clearfix
      .x_content
        .row
          .col-sm-12.text-center#div-to-print
            = raw @merchant.qrcode
        .row
          .col-sm-12.text-right
            = link_to 'Download', download_qrcode_dashboard_merchant_path(@merchant), class: 'btn btn-primary btn-medium', download: "merchant_#{@merchant.id}_qrcode.png"
            = link_to 'Print QRCOde', '#', class: 'print-qrcode btn btn-primary btn-medium'
  .col-xs-12.col-md-5
    .x_panel
      .x_title
        %h2 Merchant Transactions
        %ul.nav.navbar-right.panel_toolbox
          %li.right
            %a.collapse-link
              %i.fa.fa-chevron-up
        .clearfix
      .x_content
        .row
          .col-xs-9
            Total transactions: #{@merchant.transactions.count}
          .col-xs-3.text-right
            = link_to 'View', transactions_dashboard_merchant_path(@merchant)