.page-header.border-t
  .row
    .col-xs-6.col-sm-6
      %h1
        %i.fa.fa-briefcase.page-header-icon
        Merchants
    .col-xs-6.col-sm-6.text-right
      %h1
        = link_to new_dashboard_merchant_path, class: 'btn btn-primary  btn-lg' do
          Add Merchant
.row
  .col-sm-12
    .table-responsive
      %table.table.table-striped.jambo_table.bulk_action
        %thead
          %tr.headings
            %th{colspan: '14'}
              .row
                .col-sm-offset-4.col-xs-4.col-sm-3.text-right
                .col-xs-8.col-sm-5
                  -#= render 'admin/dashboards/search_form', target: 'merchants', query: params[:query], attr: 'name'
          %tr.headings
            %th.column-title
              Name
            %th.column-title
              Email
            %th.column-title
              Vat Number
            %th.column-title
              Address
            %th.column-title.no-link.last
              %span.nobr Action
        - if @merchants.present?
          %tbody
            - @merchants.each do |merchant|
              %tr
                %td.a-center
                  = link_to edit_dashboard_merchant_path(merchant) do
                    = merchant.name
                %td= merchant.email
                %td= merchant.vat_number
                %td.a-right.a-right= merchant.address
                %td.last{width: '100'}
                  .btn-group
                    = link_to edit_dashboard_merchant_path(merchant), class: 'btn btn-xs btn-default' do
                      %i.fa.fa.fa-pencil
                    = link_to dashboard_merchant_path(merchant), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' do
                      %i.fa.fa-trash
        - else
          %tbody
            %tr.even.pointer
              %td{colspan: '14'}
                No merchants to display

-#= paginate @merchants
