.page-header.border-t
  .row
    .col-xs-6.col-sm-6
      %h1
        %i.fa.fa-briefcase.page-header-icon
        Merchants
    .col-xs-6.col-sm-6.text-right
      %h1
        = link_to dashboard_merchant_path(@merchant), class: 'btn btn-primary  btn-lg' do
          Back
.row
  .col-sm-12
    .table-responsive
      %table.table.table-striped.jambo_table.bulk_action
        %thead
          %tr.headings
            %th{colspan: '14'}
              .row
                .col-sm-offset-4.col-xs-4.col-sm-3.text-right
                .col-xs-8.col-sm-5
          -#= render 'admin/dashboards/search_form', target: 'transactions', query: params[:query], attr: 'name'
          %tr.headings
            %th.column-title
              User
            %th.column-title
              Amount
            %th.column-title
              Date
        - if @transactions.present?
          %tbody
            - @transactions.each do |merchant|
              %tr
                %td.a-center= merchant.user.email
                %td= merchant.amount
                %td= merchant.created_at.strftime('%Y %B %d %H:%M')
        - else
          %tbody
            %tr.even.pointer
              %td{colspan: '14'}
                No transactions to display

                -#= paginate @transactions
