!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Vyya
    = csrf_meta_tags
    = stylesheet_link_tag    'dashboard', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'dashboard', media: 'print'
    = javascript_include_tag 'dashboard', 'data-turbolinks-track': 'reload'
%body.nav-md
  .container.body
    .main_container
      = render 'layouts/admin/sidenav'
      = render 'layouts/admin/topnav'
      .right_col{ role: 'main' }
        = yield

  = javascript_include_tag 'gentelella-custom', 'data-turbolinks-track': 'reload'